*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.Container{
    margin: 0 50px;
}

.logo{
    height: 50px;
}

.d-flex>a{
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0 5px;
}
.main-section-container{
    margin-top: 30px;
    
}
.digital-card-details{
    height: 40vh;
    width: 100%;
    background-image: url('/images/ASSETS/Background.jpg');
    border-radius: 50px;
    color: white;
    padding: 30px;
    background-repeat: no-repeat;
 

}

.main-content{
    width: 90%;
    background-color: white;
    border: 1px solid rgb(165, 164, 164);
    border-radius: 50px;
    z-index: 10;
    margin: -160px auto 0;
    padding: 40px  ;
    
}

.card-descripion-text{
    color: lightgray;
    font-size: 13px;
    
}

.try-this-button{
    width: 100%;
    border-radius: 13px;
    padding: 15px 0;
    font-weight: bold;
}

.features-content{
    width: 90%;
    background-color: white;
    border: 1px solid rgb(165, 164, 164);
    border-radius: 50px;
    padding: 20px;
    margin: 0 auto;

}

.circular{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: radial-gradient(white, rgb(241, 236, 236), rgb(248, 242, 242));
}

.features-content , p{
    text-align: start;
    color:rgb(63, 58, 58);
    font-size: 18px;
    font-weight: 500;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 300px;
  
  }

  .swiper-slide img {
    display: block;
    width: 90%;
    height: 300px;
    border: 1px solid rgb(207, 207, 207);
    padding: 4px;
    border-radius: 8px;
    background-color: white;
  }

@media only screen and (max-width: 600px) {
    .Container{
        margin: 0 20px;
    }

    .main-content{
        padding: 30px;
        margin: -260px auto 0;

    }

    .cardTitle{
        border-top: 1px solid black;
        margin: 10px 20px;
        padding-top: 10px;

    }
    
  
    .features-container {
        display: flex;
        align-items: start !important;
    }
    .circular{
        height: 80px;
        width: 80px !important; ; 
        border-radius: 50%;
        margin-right: 10px;
    }
    .feature2{
        margin: 15px 0;
    }

    .features-container, p{
        display: inline-block;
    }

    .try-this-button{
        margin-bottom: 10px;

    }
    #paragraph{
        width: 200px;
    }
  }